<body>
  <section class="showcase">
    <header>
      <h2 class="logo">DownTown</h2>
      <div class="toggle"></div>
    </header>
    <video src="../Pexels Videos 1943483.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="text">
      <h2>Never try To </h2> 
      <h3>Limit Yourself </h3>
      <p>Here book your required act and make
          your event worth presenting and let 
          the world enjoy with your gracefull
          acts in party.
      </p>
      <a href="#">Explore</a>
    </div>
    <ul class="social">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>
  </section>
  <div class="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">Register your club</a></li>
      <li><a href="/dashboard">List of services</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="/login">Log in/Sign up</a></li>
    </ul>
  </div>
  <script src="page.js"></script>
</body>
